## [코딩 챌린지]

In [1]:
import pandas as pd

- 고객 데이터셋의 주소(Address)에서 네 가지 값(도로, 시, 주, 우편번호)을 분리하고 분리한 값을 각각 Street, City, State, Zip이라는 새로운 열에 할당하세요. 그런 다음 기존 Address열을 삭제하세요.

In [2]:
file = '../../DATA/customers.csv'

In [3]:
customersDF = pd.read_csv(file)

In [7]:
customersDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9961 entries, 0 to 9960
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Name     9961 non-null   object
 1   Address  9961 non-null   object
dtypes: object(2)
memory usage: 155.8+ KB

In [4]:
customersDF['Address']

0       6461 Quinn Groves, East Matthew, New Hampshire...
1       1360 Tracey Ports Apt. 419, Kyleport, Vermont,...
2       19120 Fleming Manors, Prestonstad, Montana, 23495
3            441 Olivia Creek, Jimmymouth, Georgia, 82991
4       4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...
                              ...
9956    762 Andrew Views Apt. 254, North Paul, New Mex...
9957    44188 Day Crest Apt. 901, Lake Marcia, Maine, ...
9958    73015 Michelle Squares, Watsonville, West Virg...
9959         129 Keith Greens, Haleyfurt, Oklahoma, 98916
9960     355 Griffin Valley, Davidtown, New Mexico, 17581
Name: Address, Length: 9961, dtype: object

In [10]:
addressList = customersDF['Address'].str.split(', ', n=4, expand=True)
addressList

                               0             1              2      3
0              6461 Quinn Groves  East Matthew  New Hampshire  16656
1     1360 Tracey Ports Apt. 419      Kyleport        Vermont  31924
2           19120 Fleming Manors   Prestonstad        Montana  23495
3               441 Olivia Creek    Jimmymouth        Georgia  82991
4     4246 Chelsey Ford Apt. 310     Karamouth           Utah  76252
...                          ...           ...            ...    ...
9956   762 Andrew Views Apt. 254    North Paul     New Mexico  28889
9957    44188 Day Crest Apt. 901   Lake Marcia          Maine  37378
9958      73015 Michelle Squares   Watsonville  West Virginia  03933
9959            129 Keith Greens     Haleyfurt       Oklahoma  98916
9960          355 Griffin Valley     Davidtown     New Mexico  17581

[9961 rows x 4 columns]

In [11]:
customersDF[['Street', 'City', 'State', 'Zip']] = addressList
customersDF

,Name,Address,Street,City,State,Zip
0,Frank Manning,"6461 Quinn Groves, East Matthew, New Hampshire...",6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,"1360 Tracey Ports Apt. 419, Kyleport, Vermont,...",1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,"19120 Fleming Manors, Prestonstad, Montana, 23495",19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,"441 Olivia Creek, Jimmymouth, Georgia, 82991",441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,"4246 Chelsey Ford Apt. 310, Karamouth, Utah, 7...",4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...,...
9956,Dana Browning,"762 Andrew Views Apt. 254, North Paul, New Mex...",762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,"44188 Day Crest Apt. 901, Lake Marcia, Maine, ...",44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,"73015 Michelle Squares, Watsonville, West Virg...",73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,"129 Keith Greens, Haleyfurt, Oklahoma, 98916",129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,"355 Griffin Valley, Davidtown, New Mexico, 17581",355 Griffin Valley,Davidtown,New Mexico,17581

In [13]:
customersDF = customersDF.drop('Address', axis='columns')
customersDF

,Name,Street,City,State,Zip
0,Frank Manning,6461 Quinn Groves,East Matthew,New Hampshire,16656
1,Elizabeth Johnson,1360 Tracey Ports Apt. 419,Kyleport,Vermont,31924
2,Donald Stephens,19120 Fleming Manors,Prestonstad,Montana,23495
3,Michael Vincent III,441 Olivia Creek,Jimmymouth,Georgia,82991
4,Jasmine Zamora,4246 Chelsey Ford Apt. 310,Karamouth,Utah,76252
...,...,...,...,...,...
9956,Dana Browning,762 Andrew Views Apt. 254,North Paul,New Mexico,28889
9957,Amanda Anderson,44188 Day Crest Apt. 901,Lake Marcia,Maine,37378
9958,Eric Davis,73015 Michelle Squares,Watsonville,West Virginia,03933
9959,Taylor Hernandez,129 Keith Greens,Haleyfurt,Oklahoma,98916
9960,Sherry Nicholson,355 Griffin Valley,Davidtown,New Mexico,17581